@model IEnumerable<MVCTemplate.Models.ModelosCamara.T_Transacciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.T_Empleados.NombreCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.T_Materiales.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechayHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.T_Empleados.NombreCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.T_Materiales.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechayHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cantidad)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDtransaccion }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDtransaccion }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDtransaccion })
                </td>
            </tr>
        }
    </tbody>

</table>

<script>
    $(document).ready(function () {
        $('#spanTransacciones').css({ 'background-color': '#ffa500', 'color': '#fff' });
    });
</script>